<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  {% for post in posts %}
  {{post.get("message")}}
  {% endfor %}

  <div class="wrapper">
    <div class="header">
      <h1>Profile:</h1>
    </div>
    <div class="profilePic"></div>
    <div class="mainBody"></div>
    <div class="postWindow">
      <form class="formWindow" action="/message" method="POST">
        <input type="textarea" name="message" placeholder="What's on your mind, {{user}}?">
        <input class="submit" type="submit" name="submit" value="submit">
      </form>
      <form class="formWindow" action="/comment" method="POST">
        <input type="textarea" name="comment" placeholder="Would you like to reply, {{user}}?">
        <input class="submit" type="submit" name="submit" value="submit">
      </form>
    </div>
  </div>
  <!-- <h1> Hello {{user}} </h1> -->
</body>

</html>
